<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
<div class="nav">
	<div class="nav-header">
		<div class="nav-title">
			<h1>Fake News Detector</h1>
		</div>
	</div>
</div>
</header>

<!-- About us-->
<div class="focus-feature" style="background: whitesmoke;">
	<div class="about_us">
		<div class="heading">
			<h1 id="line">ABOUT US</h1>
		</div>
		<p> We are a group of young and enthusiastic individuals wanting to make a positive impact on this earth in our
			lifetime. Undergraduate students from the esteemed university of VIT, we have set out to make a difference
			from the skills that we posses. Continuing in this train of thought, we have made a News Credibility Classifier.
			Happy fact checking!! ❤️  ️✌️</p>
	</div>
</div>

<div class="focus-feature" style="background: whitesmoke;">
		<div class="about_us">
			<div class="heading">
				<h1 id="line">MOTIVATION</h1>
			</div>
				<p>Fake news detection is the task of detecting forms of news consisting of deliberate disinformation
					or hoaxes spread via traditional news media (print and broadcast) or online social media. Although this
				concept is not new by any stretch of the imagination, the recent burst of internet and social media means
				that discriminating rumours from facts is more essential than ever. The recent surge of the Coronavirus
				Outbreak was a test to the existing system and it failed. Even today, as the second wave dies down in India,
				there are Nobel Laureates who claim that the vaccinated public will suffer a horrendous death within 2 years.
				When an ordinary citizen reads news like this, and even if they go the extra step and research a bit into
				whether the said Nobel prize winner did say such a thing, she will find out that it is indeed true. What's
				false, however is the claim that vaccines cause such harm. It takes more than 20 minutes of a deep dive into
				the perpetrator to find out that he has been against vaccines since the HIV vaccine came out decades ago.
				To make this easier on the general public and with an aim to demolish the spread of such nonsense, we have
				come up with a Natural Language Processing based News Credibility Classifier.</p>
		</div>
	</div>
<!--					<a name="feature"></a>-->


<!--  Prediction  -->
<div class="developers">
	<div class="ml-container">
		<form align="center" action="predict" method="POST">
			<p>Enter Your Message Here</p>
			<!-- <input type="text" name="comment"/> -->
			<label>
				<textarea name="message" rows="4" cols="50"></textarea>
			</label>
				<br/>
			<button href="#" id="button1" class="button" type="submit" aria-live="assertive" align="center" value="predict" > Predict </button>
		</form>
		<div class="results">
			{% if prediction == 1%}
			<h2 style="color:red;">Fake</h2>
			{% elif prediction == 0%}
			<h2 style="color:blue;">Not Fake</h2>
			{% endif %}
		</div>
	</div>
</div>



<!--	Contact Us-->
		<div class="focus">
			<div class="about_us">
				<div class="heading">
					<h1 id="line">Get In Touch</h1>
				</div>
					<form action="contact" method="POST">
						<input type="text" placeholder="Name" name="name">
						<input type="text" placeholder="E-mail" name="email">
						<input type="text" placeholder="Subject" name="subject">
						<textarea type="text" placeholder="Text" name="feed"></textarea>
						<button href="#" id="button" class="button" type="submit" aria-live="assertive" align="center">Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

<!--	Developers-->
<div class="developers">
	<div class="focus">
		<div class="about_us">
			<div class="heading">
				<h1 id="line">DEVELOPERS</h1>
			</div>
			<div class="photo">
				<div id="photo-div1">
					<!--						Insert Image-->
					<img src="DK1.jpg" alt="Devjyoti" height="200" width="200">
					<h4 style="font-family:poppins">Devjyoti Karan</h4>
					<p style="margin-top: 15px;">ML Engineer</p>
				</div>
				<div id="photo-div2">
					<!--						Insert Image-->
					<img src="GVT1.jpg" alt="Garvit" height="200" width="200">
					<h4 style="font-family:poppins">Garvit Luhadia</h4>
					<p style="margin-top: 15px;">Front End Developer</p>
				</div>
				<div id="photo-div3">
					<!--						Insert Image-->
					<img src="Pratham1.png" alt="Pratham" height="200" width="200">
					<h4 style="font-family:poppins">Pratham Sahay</h4>
					<p style="margin-top: 15px;">Full stack Developer</p>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>
